<%= simple_form_for author do |form| %>

  <div class="field col-3">
    <%= form.input :name %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
