<p><h2><%= link_to 'Library', categories_path, class: 'btn btn-primary btn-lg col-3' %></h2></p>
<br>
<p><strong>Main admin</strong> : admin@admin.com - 123456</p>
<p><strong>Book admin</strong> : admin@book.com - 123456</p>
<p><strong>Category admin</strong> : admin@category.com - 123456</p>
