<p><h2>Add author to the book</h2></p>
<%= form_with url: add_author_book_path(@book), method: :patch do |f| %>
  <%= f.collection_select :author_id, @book.outside_authors, :id, :name,{}, class: 'form-control col-3' %>
  <br>
  <%= f.submit 'Add author', class: 'btn btn-primary' %>
<% end %>
<p><%= link_to 'back', books_path %></p>
