<%= form_with url: remove_book_category_path(@category), method: :patch do |f| %>
  <%= f.collection_select :book_id, @category.books, :id, :title,{}, class: 'form-control col-3' %>
  <br>
  <%= f.submit "remove book", class: 'btn btn-danger' %>
<% end %>
<p><%= link_to 'back', categories_path %></p>